{
  "extends": "@antfu",
  "rules": {
    "no-console": "off",
    "accessor-pairs": "off",
    "import/no-mutable-exports": "off",
    "no-template-curly-in-string": "off",
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/adjacent-overload-signatures": "off"
  }
}
